table{
    width: 880px;
}

table, th, td{
    border-collapse: collapse;
    border:1px solid #ddd;
}

tr.tbl-body_row{
    height:88px;
}

#event-container {
    display: block; /* または、適切な表示プロパティ */
    width: 100%; /* または適切な幅 */
    height: auto; /* または適切な高さ */
    background-color: #f0f0f0; /* デバッグ用に背景色を設定 */
}

.event-block {
    position: absolute;
    background-color: #49b5a9;
    padding: 5px;
    box-sizing: border-box;
}